<html>
    <body>
        <H2>Bookings (<%= nInventories %>)</H2>
        <ul>
            <% for (var i of inventories) { %>
            <li>Inventory ID: <a href="/details?_id=<%= b._id %>"><%= b.inventory_ID %></a></li>
            <% } %>
        </ul>
    </body>
</html>
